.project-container {
  overflow: hidden;
  width: 300px;
  height: 200px;

  margin-left: 20px;
  margin-top: 30px;

  border: solid black 2px;
}
.project {
  width: 100%;
  height: 100%;
  display: inline-block;

  background-color: rgb(80, 126, 148);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transform-origin: center;
  transition: all 0.7s;
}

.project button {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: block;
  border: none;
  cursor: pointer;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*modal*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.65); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 8% auto;
  background-color: #faf8f7;
  border: 1px solid #888;
  width: 70%;
}

.modal-content__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
/* The Close Button */
.close {
  color: #aaa;
  position: relative;
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;

  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__project-image {
  width: 100%;
  height: 500px;

  display: block;

  background-color: #faf8f7;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal__text-container {
  padding: 30px 50px;
  width: 100%;
  background-color: rgb(27, 26, 26);
  color: white;
  font-size: 1.9rem;
  font-weight: 300;
  margin-top: 100px;
}

.link-buttons__container {
  display: block;
  width: 70%;
  padding: 20px 0;
  margin: 20px 0;
}

.button__modal {
  height: 100px;
  width: 210px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: inline-block;
}

.showModal {
  opacity: 1;
  z-index: 2;
  animation: show 0.8s;

  transform: scale(1);
}
@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}

.gitHub__project-link {
  background-image: url("../../Images/GitHubLogo-min.png");

  float: left;
}
.gitHub__project-link a {
  width: 100%;
  height: 100%;
  display: block;
}
.project-link {
  background-color: #1b1a1a;

  width: 220px;
  height: 68px;

  border-radius: 10px;
  border: solid 2px black;

  margin-top: 20px;
  float: right;
}
.project-link:hover {
  background-color: black;
  cursor: pointer;
}
.project-link a {
  color: white;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.project-link a .modal__button_text {
  font-size: 25px;
  font-weight: 300;
}
.mobile-first {
  background-image: url("../../Images/mobile-first-min.png");
}
.jap {
  background-image: url("../../Images/jap.png");
}

.rick-and-morty {
  background-image: url("../../Images/rick-and-morty.png");
  background-position: bottom;
}

.badges {
  background-image: url("../../Images/badges.png");
  background-position: top;
}

.contain {
  background-size: contain;
}

@media screen and (max-width: 1024px) {
  .modal__project-image {
    width: 100%;
    height: 440px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal-content {
    margin: 8% auto;
    margin-top: 100px;
    background-color: #faf8f7;
    border: 1px solid #888;
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .link-buttons__container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px 0;
    margin: 20px 0;
    align-items: center;
  }
  .link-buttons__container div {
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .modal__project-image {
    width: 100%;
    height: 220px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal__text-container {
    font-size: 1.3rem;
  }
}
