.home {
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: end;

  background-image: linear-gradient(
    to bottom,
    #863b1a,
    #883821,
    #893629,
    #89342f,
    #893336,
    #88323c,
    #863241,
    #843246,
    #81334c,
    #7e3451,
    #7a3556,
    #75375a
  );
}
.home-container {
  margin-left: 150px;
  margin-bottom: 150px;
}
.home__textContainer {
  color: #faf8f7;
  text-shadow: 1.5px 1.5px rgb(53, 53, 53);

  border-radius: 20px;

  width: 500px;

  display: inline-block;
  margin-left: 50px;
  position: relative;
  bottom: 20px;
}

.home__textContainer h1 {
  font-size: 4rem;
  font-family: "Cabin", sans-serif;
  /* font-family: "Noto Sans JP", sans-serif; */
}

.home__textContainer h2 {
  font-size: 3rem;
}
.img-container {
  display: inline-block;
}
.img-container img {
  display: block;
  width: 250px;
  border-radius: 40%;
  border: solid 2px black;
}
@media screen and (max-width: 1650px) and (max-height: 750px) {
  .home-container {
    margin-bottom: 80px;
  }
  .img-container img {
    width: 200px;
  }
  .home__textContainer h1 {
    font-size: 3.5rem;
  }
  .home__textContainer h2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1300px) {
  .img-container img {
    width: 200px;
  }
  .home__textContainer h1 {
    font-size: 3.5rem;
  }
  .home__textContainer h2 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .home {
    align-items: end;
    justify-content: center;
  }
  .home-container {
    margin-left: 0pc;
  }
}
@media screen and (max-width: 880px) {
  .home {
    align-items: center;
  }
  .home__textContainer {
    font-size: 1rem;
    width: 400px;
    left: 0;
  }
  .home__textContainer h1 {
    font-size: 3rem;
  }
  .home__textContainer h2 {
    font-size: 2.5rem;
  }
  .img-container {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .home {
    align-items: center;
  }
  .home__textContainer {
    font-size: 1rem;
    width: 250px;
    left: 0;
  }
  .home__textContainer h1 {
    font-size: 3rem;
  }
  .home__textContainer h2 {
    font-size: 2rem;
  }
}
