.navBar {
  background-color: #201e1c;
  color: white;
  height: 77px;
  width: 100%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.navBar__list {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 0;
  z-index: -1;
  padding-right: 20px;
}

.navBar__list-li {
  list-style: none;
  padding: ;
  height: 77px;
  width: 120px;
  position: relative;
  text-align: center;
}

.navBar__list-li a {
  width: 100%;
  height: 100%;
  display: block;
}

.navBar__Label {
  position: relative;
  top: calc(50% - 15px);
}

.navBar__list-li:hover {
  color: blanchedalmond;
  background-color: #2f2d2a;
  background-color: ;
}

.button-menu {
  height: 50px;
  width: 50px;

  position: relative;
  float: right;
  display: none;

  top: 10px;
  right: 10px;

  background-image: url("../../Images/list_white_24dp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-up {
  height: 50px;
  width: 50px;

  margin-left: 10px;
  margin-top: 12px;

  position: relative;
  float: left;
  display: ;

  background-image: url("../../Images/home/2x/outline_home_white_24dp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-up a {
  height: 50px;
  width: 50px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .navBar .navBar__list {
    display: none;
  }

  .button-menu {
    display: initial;
  }

  .button-menu-clicked {
    height: 50px;
    width: 50px;

    top: 10px;
    right: 10px;

    position: relative;
    float: right;

    background-image: url("../../Images/list_white_24dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navBar__list-clicked {
    position: relative;
    top: ;
    padding-top: ;
    right: ;
    left: ;

    margin: ;

    border-radius: 0px;
    width: 100vw;
    height: 100vh;
    float: right;
    background-color: #2f2d2a;
  }

  .navBar__list-clicked li {
    width: 100%;
    height: ;
  }
  .navBar__list-clicked li a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .navBar__list-clicked li a label {
    top: 0px;
  }
}
