.skills {
  height: 100vh;
  background-color: #faf8f7;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills__textContainer {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 30px;
}

.skills__iconContainer {
  padding-top: 30px;

  width: 70%;

  position: relative;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__iconContainer div {
  width: 120px;
  height: 120px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 30px 40px;
}

.skills__iconContainer .html {
  background-image: url("../../Images/html-min.png");
}

.skills__iconContainer .css {
  background-image: url("../../Images/CSS-Logo-min.png");
}

.skills__iconContainer .js {
  background-image: url("../../Images/js-min.png");
}

.skills__iconContainer .responsive {
  background-image: url("../../Images/responsive-design-min.png");
}

.skills__iconContainer .react {
  background-image: url("../../Images/react.svg");
}

.skills__iconContainer .npm {
  height: 50px;

  background-image: url("../../Images/npm-min.png");

  position: relative;
  top: ;
}

.skills__iconContainer .git {
  background-image: url("../../Images/git-min.png");
}

.skills__iconContainer .java {
  background-image: url("../../Images/java-min.png");
}

.skills__iconContainer .spring {
  background-image: url("../../Images/spring-min.png");
}

.skills__iconContainer .csharp {
  background-image: url("../../Images/Csharp_Logo-min.png");
}

.skills__iconContainer .terminal {
  background-image: url("../../Images/Terminalicon-min.png");
}

.skills__iconContainer .mysql {
  height: 63px;

  background-image: url("../../Images/mysql-min.png");

  position: relative;
  top: ;
}
@media screen and (max-width: 1024px) {
  .skills {
    margin-bottom: 200px;
  }
}
@media screen and (max-width: 550px) {
  .skills__textContainer {
    font-size: 1.5rem;
  }
  .skills__iconContainer {
    width: 85%;
  }

  .skills__iconContainer div {
    width: 90px;
    height: 90px;

    margin: 30px 20px;
  }

  .skills__iconContainer .npm {
    width: 120px;

    margin-left: 0px;
  }
  .skills__iconContainer .mysql {
    width: 120px;

    margin-left: 0px;
  }
}
