.skills {
  background-color: #faf8f7;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills__textContainer {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 30px;
}

.skills__iconContainer {
  padding-top: 30px;

  width: 70%;

  position: relative;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__iconContainer div {
  width: 120px;
  height: 120px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 30px 40px;
}

.skills__iconContainer .html {
  background-image: url("../../Images/html.png");
}

.skills__iconContainer .css {
  background-image: url("../../Images/CSS-Logo.png");
}

.skills__iconContainer .js {
  background-image: url("../../Images/js.png");
}

.skills__iconContainer .responsive {
  background-image: url("../../Images/responsive-design.png");
}

.skills__iconContainer .react {
  background-image: url("../../Images/react.svg");
}

.skills__iconContainer .npm {
  height: 50px;

  background-image: url("../../Images/npm.png");

  position: relative;
  top: ;
}

.skills__iconContainer .git {
  background-image: url("../../Images/git.png");
}

.skills__iconContainer .java {
  background-image: url("../../Images/java.png");
}

.skills__iconContainer .spring {
  background-image: url("../../Images/spring.png");
}

.skills__iconContainer .csharp {
  background-image: url("../../Images/Csharp_Logo.png");
}

.skills__iconContainer .terminal {
  background-image: url("../../Images/Terminalicon.png");
}

.skills__iconContainer .mysql {
  height: 63px;

  background-image: url("../../Images/mysql.png");

  position: relative;
  top: ;
}

@media screen and (max-width: 550px) {
  .skills__textContainer {
    font-size: 1.5rem;
  }
  .skills__iconContainer {
  }

  .skills__iconContainer div {
    margin: 30px 20px;
  }
}
