.navBar {
  background-color: #2e3f6e31;
  color: white;
  height: 77px;
  width: 100%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.navBar__list {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 0;
  z-index: -1;
  padding-right: 20px;
}

.navBar__list-li {
  list-style: none;
  height: 77px;
  width: 120px;
  position: relative;
  text-align: center;
}

.navBar__list-li a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.navBar__Label {
  position: relative;
  top: calc(50% - 15px);

  cursor: pointer;
}

.navBar__list-li:hover {
  color: rgb(255, 255, 255);
  background-color: #2e3f6e52;
  border-radius: 10px;
  border: solid 1px black;
}

.button-menu {
  height: 35px;
  width: 35px;

  position: relative;
  float: right;
  display: none;

  top: 20px;
  right: 20px;

  background-image: url("../../Images/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
}

.button-up {
  height: 50px;
  width: 50px;

  margin-left: 10px;
  margin-top: 12px;

  position: relative;
  float: left;

  background-image: url("../../Images/Icons/PikPng.com_house-icon-png_531531.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
}

.button-up a {
  height: 50px;
  width: 50px;
  display: block;
}

@keyframes scale-in-top {
  0% {
    transform: scale(0);
    transform-origin: 50% 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0;
    opacity: 1;
  }
}

.scale-in-top {
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (max-width: 1024px) {
  .navBar .navBar__list {
    display: none;
  }

  .button-menu {
    display: initial;
  }

  .navBar__list-clicked {
    position: absolute;
    border-radius: 0px;
    width: 100vw;
    height: 100vh;

    margin-top: 77px;
    background-color: #2f2d2ae1;
  }

  .navBar__list-clicked li {
    width: 100%;
  }
  .navBar__list-clicked li a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .navBar__list-clicked li a label {
    top: 0px;
  }
}
